--extra-index-url https://download.pytorch.org/whl/cpu
numpy==1.26.4
PyMuPDF==1.23.6
torch==2.2.2+cpu
transformers==4.41.2
tokenizers==0.19.1
huggingface_hub==0.24.0
safetensors==0.4.3
sentence-transformers==2.7.0
scikit-learn==1.4.0